@import 'src/css/variables';
@import "src/css/fonts";

.header-container{
    margin: 1%;
    padding: 1% 0 0 0;
    background-color: $gray-color;
    .header-item{
        font-family: 'Bree Serif', serif;
        font-size: 14pt;
        border-bottom: 5px solid $dark-gray-color;      
        text-align: center;
        margin-left: 1%;    
    }
    .header-item-first{
        margin-left:0 !important;
    }
    .header-item-completed{
        border-bottom: 5px solid $base-blue-color;        
    }
    .header-visibility{
        display: none;
    }
}
