$base-blue-color: rgb(0, 174, 255);
$dark-blue-color:darken(rgb(0, 174, 255),10%);

$dark-gray-color:rgba(139, 139, 139, 0.151);
$darker-gray-color:rgb(119, 116, 116);
$gray-color: rgba(238, 238, 238, 0.815);

$red-color: rgb(172, 3, 3);