.template-container{
    width:80%;
    margin:0 auto;
    text-align:center; 
    height:90% !important;      
}
.swiper-slide{
    // background-color: #eee;
    :hover{
        // background-color: blue;
    }
}


