@import 'src/css/variables';

.main-container{
    height:93%; 
}

.skill-container{
    margin: 0 auto;
    background-color: $light-gray-color;    
    min-height:100%;
    padding:3%;
    border: 1px solid $gray-color;
    box-shadow: 7px 5px 7px  $dark-gray-color;
    border-radius:5px;
    overflow-y: auto;

    .text-complete-skill{
        font-family: 'Bree Serif', serif;
        color: $dark-blue-color;
        font-size: 14pt;
        margin-bottom:5%;
    }
}

.skill-item{
    background-color: white !important;
    color: $darker-gray-color !important;
    border-color: $darker-gray-color !important;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding:8px;
    font-family: 'PT Sans';
} 
.skill-counter {
    background-color: $light-yellow-color;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding:15px 10px 15px 10px;
    color:white;
    font-family: 'PT Sans';
    font-weight: bold;
}