@import 'css/variables';
@import 'css/fonts';

body {
    height: 98vh;
    min-height: 98vh;
}

.swiper-button-prev {
    background-image: url("/assets/icons/prev.png") !important;
  }
  
  .swiper-button-next {
    background-image: url("/assets/icons/next.png") !important;
  }

  .text-label{
    font-size: 10pt;
    font-family: 'PT Sans';
    color: $darker-gray-color !important;
    margin-top:5px;
  }
  .alert{
    padding: 5px !important;
    font-size: 9pt;
    font-family: 'PT Sans';
  }

  .glyphicon{
    font-size: 15pt !important;
  }

  .icon-flipped {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"; 
  }

  .btn{
    font-family: 'PT Sans'; 
    font-weight: bold !important;
  }
  .btn-default {
    background-color: $gray-color !important;
    color: $red-color !important;
  }