@import 'css/variables';
@import 'css/fonts';

body {
    height: 98vh;
    min-height: 98vh;
}

input{
  font-size: 10pt !important;
  font-family: Arial, Helvetica, sans-serif;
}
.swiper-button-prev {
    background-image: url("/assets/icons/prev.png") !important;
  }
  
  .swiper-button-next {
    background-image: url("/assets/icons/next.png") !important;
  }
  .text-label{
    font-size: 10pt;
    font-family: Calibri;
    color: $darker-gray-color !important;
    margin-top:5px;
  }
  .text-empty-block{
    font-size: 10pt;
    font-family: Calibri;
    color: $light-red-color !important;
    margin-top:10px;
  }
  .alert{
    padding: 5px !important;
    font-size: 9pt;
    font-family: 'PT Sans';
  }

  .glyphicon{
    font-size: 15pt !important;
  }

  .icon-flipped {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"; 
  }

  .btn{
    font-family: 'PT Sans'; 
    font-weight: bold !important;
    width: 100%;
  }
  .btn-default {
    background-color: $gray-color !important;
    color: $red-color !important;
  }

  .btn-ok {
   padding:5px 0 5px 0 !important;
  }

  .btn-edit {
    color:$dark-blue-color !important;
    background-color: transparent !important;
    border: none !important;
    }

.btn-delete {
  color: $light-red-color !important;
  background-color: transparent !important;
    border: none !important;
}
.btn-move-down, .btn-move-up {
  color: $base-blue-color !important;
  background-color: transparent !important;
  border: none !important;
}

  .glyphicon-ok, .glyphicon-trash, .glyphicon-pencil
  ,.glyphicon-arrow-down, .glyphicon-arrow-up {
    font-size: 11pt !important;
  }
